
.root {
    -fx-background-color: #87CEFA; /* Bleu ciel */
}

.title {
    -fx-font-size: 24px;
    -fx-text-fill: #FF1493; /* Rose */
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}

.text-field {
    -fx-pref-width: 200px;
    -fx-border-color: #FF1493; /* Rose */
}

.button {
    -fx-background-color: #FF1493; /* Rose */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #FF69B4; /* Couleur rose plus clair au survol */
}

.button:pressed {
    -fx-background-color: #C71585; /* Rose foncé */
}
